[buildout]
parts =  sphinxpython sphinxbuilder scripts
versions = versions
unzip = true
develop = py/js.obviel

[versions]

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/_build
interpreter = ${buildout:directory}/bin/sphinxpython

[sphinxpython]
recipe = z3c.recipe.scripts:interpreter
eggs = fanstatic
       sphinxcontrib_cheeseshop

[scripts]
recipe = zc.recipe.egg:scripts
eggs =
     pojson >= 0.4
     Babel
     babel-obviel >= 0.7.1


