[buildout]
parts =  sphinxpython sphinxbuilder scripts
versions = versions
unzip = true

[versions]

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/_build
interpreter = ${buildout:directory}/bin/sphinxpython

[sphinxpython]
recipe = z3c.recipe.scripts:interpreter
eggs = fanstatic
       sphinxcontrib_cheeseshop

[scripts]
recipe = zc.recipe.egg:scripts
eggs =
     pojson >= 0.4
     Babel
     babel-obviel >= 0.7.1

# building this creates a big structure that slows down meld a lot
# [nodejs]
# recipe = gp.recipe.node
# npms = buster
# url = http://nodejs.org/dist/v0.8.3/node-v0.8.3.tar.gz
# scripts = buster-test buster-server
