[buildout]
develop = .
parts = releaser py.test

[releaser]
recipe = z3c.recipe.scripts
eggs = zest.releaser

[py.test]
recipe = z3c.recipe.scripts
# Need exit status code for buildbot.
# See https://bugs.launchpad.net/zc.buildout/+bug/164629
script-initialization =
  import pytest
  if __name__ == '__main__': sys.exit(pytest.main())
eggs = js.obviel
       pytest
